:root{
    --width: 672px;     /*2*336px*/
}

body{
    background-color: black;
}

/*canvas for aoi over image */
.outsideWrapper{                                    /*dynamisch!!!*/
    width:  var(--width);                           /*dynamisch!!!*/
    height: calc(var(--width)/1.3333333);           /*dynamisch!!!*/
}
.insideWrapper{
    width:100%;
    height:100%;
    position:relative;
}
.coveredImage{
    width:100%;
    height:100%;
    position:absolute;
}
.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}